@import url("https: ; //fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@keyframes slideLeft {
  from {
    transform: translateX(-50px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes slideRight {
  from {
    transform: translateX(50px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes toUpButton {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }

.header__title {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.2rem;
  margin-bottom: 1rem;
  position: relative;
  left: 3px;
  animation: slideLeft 1.4s ease-in-out forwards; }

.header__text {
  font-weight: 200;
  display: block;
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 8px;
  animation: slideRight 1.4s ease-in-out forwards; }

.section__header {
  font-size: 2.4rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(to right bottom, #ed4c67, #b53471);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center; }

.section__title {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  font-weight: 500;
  transition: all 0.3s ease-in; }
  .section__title:hover {
    transform: translateY(-10px); }

.section__text {
  font-size: 0.9rem;
  margin-bottom: 3rem; }

/*

0-600px : phone
600-900px : tablet portrait
900-1200px : tablet landscape
1200- 1800px : Normal style Desktop 
1800px + :  Big desktop
*/
.entire__container {
  padding: 1rem; }
  @media (max-width: 75em) {
    .entire__container {
      padding: 0; } }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.2;
  color: #3d3d3d;
  background-color: #f7f7f7; }
  @media (max-width: 75em) {
    body {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    body {
      font-size: 50%; } }

main {
  padding-top: 10rem;
  margin-top: -20vh; }

.footer {
  height: 50vh;
  margin-top: 15rem;
  padding: 0 5rem;
  background-color: #ed4c67; }
  .footer__header {
    color: #3d3d3d;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: 1.2px; }
  .footer__infos {
    font-size: 1.1rem;
    font-weight: 200;
    margin-bottom: 2rem;
    color: #fff; }
  .footer__form {
    display: flex;
    justify-content: center;
    column-gap: 0.2rem; }
    .footer__form input {
      padding: 1.5rem 4rem;
      border: none;
      background-color: #fff;
      outline: none;
      border-radius: 2px;
      font-size: 1.1rem;
      color: #3d3d3d; }
      @media (max-width: 68.75em) {
        .footer__form input {
          font-size: 1rem;
          padding: 1.5rem 2rem; } }
    .footer__form select {
      padding: 1.5rem 4rem;
      border: none;
      background-color: #fff;
      outline: none;
      border-radius: 2px;
      font-size: 1.1rem;
      color: #3d3d3d; }
      @media (max-width: 68.75em) {
        .footer__form select {
          font-size: 1rem;
          padding: 1.5rem 2rem; } }
    .footer__form button {
      padding: 1.5rem 6rem;
      border: none;
      background-color: #b53471;
      outline: none;
      border-radius: 2px;
      color: white;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 1.1px; }
      @media (max-width: 68.75em) {
        .footer__form button {
          font-size: 1rem;
          padding: 1.5rem 3rem; } }

.footer__column--first {
  padding-top: 5rem;
  text-align: center; }

.section__header--box {
  display: flex;
  justify-content: center; }

.header__container {
  background-image: linear-gradient(to right bottom, #ed4c67c1, #b53450d9), url("./src/people.jpg");
  background-position: center;
  background-size: cover;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  @media (max-width: 68.75em) {
    .header__container {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }

.header__column:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem; }
  .header__column:first-child .header__nav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.2); }
    .header__column:first-child .header__nav span {
      display: inline-block;
      width: 25px;
      height: 4px;
      background-color: #3d3d3d;
      margin-bottom: 3px; }

.header__column:nth-child(2) {
  text-align: center;
  position: relative;
  top: -30px;
  height: 300px; }

.section__first {
  display: flex;
  padding: 2rem 4rem;
  padding-bottom: 10rem;
  padding-top: 2rem;
  gap: 2rem; }
  @media (max-width: 75em) {
    .section__first {
      padding: 2rem 1rem;
      gap: 1rem; } }
  @media (max-width: 68.75em) {
    .section__first {
      flex-direction: column; } }

.section__column {
  width: 50%; }
  @media (max-width: 68.75em) {
    .section__column {
      width: 100%; } }

.section__column:last-child {
  position: relative; }
  @media (max-width: 68.75em) {
    .section__column:last-child {
      display: flex;
      justify-content: center;
      width: 100%; } }

.section__img {
  transition: all 0.3s ease-in-out;
  position: absolute;
  box-shadow: 0 1rem 6rem 1rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 75em) {
    .section__img {
      width: 15rem; } }
  @media (max-width: 68.75em) {
    .section__img {
      display: none; } }
  .section__img:hover {
    transform: scale(1.05);
    z-index: 100;
    outline-offset: 1rem;
    outline: 1rem solid #ed4c67;
    box-shadow: 0 1rem 6rem 1rem rgba(0, 0, 0, 0.4); }

.section__img:first-child {
  background-image: url("../src/student1.jpg");
  background-size: cover;
  background-position: center;
  width: 18rem;
  height: 12rem;
  top: -3rem; }

.section__img:nth-child(2) {
  background-image: url("../src/student2.jpg");
  background-size: cover;
  background-position: center;
  width: 18rem;
  height: 12rem;
  top: 1.5rem;
  left: 17rem; }
  @media (max-width: 75em) {
    .section__img:nth-child(2) {
      left: 15rem; } }

.section__img:nth-child(3) {
  background-image: url("../src/student3.jpg");
  background-size: cover;
  background-position: center;
  width: 18rem;
  height: 12rem;
  top: 6rem;
  left: 3rem; }

.section__link:link,
.section__link:visited {
  color: #3d3d3d;
  font-size: 0.9rem;
  text-decoration: none;
  padding-bottom: 4px;
  font-weight: 500;
  border-bottom: 1px solid #ed4c67;
  background-image: linear-gradient(to right bottom, #ed4c67, #b53471);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center; }

.section__feature {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #ed4c67c1, #b53450d9), url("./src/meeting.jpg");
  background-position: center;
  background-size: cover;
  margin-top: -2rem;
  transform: skewY(-7deg); }
  .section__feature > * {
    transform: skewY(7deg); }
  @media (max-width: 75em) {
    .section__feature {
      margin-top: 4rem; } }

.feature__container {
  display: flex;
  padding: 0 4rem; }
  @media (max-width: 75em) {
    .feature__container {
      padding: 0 2rem; } }

.feature__box {
  width: 17rem;
  height: 20rem;
  padding: 4rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1rem 6rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in; }
  .feature__box:not(:last-child) {
    margin-right: 3rem; }
    @media (max-width: 75em) {
      .feature__box:not(:last-child) {
        margin-right: 1rem; } }
  .feature__box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.feature__icon i {
  font-size: 2.5rem;
  background-image: linear-gradient(to right bottom, #ed4c67, #ed4c67);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  margin-bottom: 2rem; }
  @media (max-width: 75em) {
    .feature__icon i {
      font-size: 2rem;
      margin-bottom: 1rem; } }

.feature__title {
  font-size: 1.1rem;
  color: #3d3d3d;
  font-weight: 600;
  margin-bottom: 2rem; }
  @media (max-width: 75em) {
    .feature__title {
      font-size: 1rem;
      margin-bottom: 1rem; } }

.feature__info {
  font-size: 1.04rem; }
  @media (max-width: 75em) {
    .feature__info {
      font-size: 0.8rem; } }

.review {
  height: 100vh;
  padding: 12rem 5rem; }
  @media (max-width: 87.5em) {
    .review {
      padding: 12rem 2rem; } }
  @media (max-width: 75em) {
    .review {
      padding: 12rem 0.5rem; } }
  @media (max-width: 68.75em) {
    .review {
      padding: 8rem 0.5rem; } }
  .review__column {
    margin-left: 3rem; }
    @media (max-width: 75em) {
      .review__column {
        margin-left: 2rem; } }
  .review__column {
    margin-bottom: 3rem; }
  .review__header {
    font-size: 2.5rem;
    font-weight: 500;
    color: #3d3d3d;
    letter-spacing: 0.9; }
    .review__header span {
      background-color: #ed4c67;
      padding: 0.4rem;
      margin-left: 0.5rem;
      color: white; }
    @media (max-width: 75em) {
      .review__header {
        font-size: 2rem; } }
    @media (max-width: 56.25em) {
      .review__header {
        font-size: 1.5rem; } }
  .review__text {
    margin-top: 2rem;
    font-size: 1.3rem;
    color: #3d3d3d;
    width: 85%;
    line-height: 2rem; }

.header__btn {
  margin-top: 3rem; }

.header__form button {
  height: 40px;
  background-color: transparent;
  padding: 0 6rem;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: all 0.4s ease-in-out;
  position: relative;
  animation: toUpButton 0.4s ease-in 0.7s;
  animation-fill-mode: backwards; }
  .header__form button:hover {
    background-color: #fff;
    color: #3d3d3d;
    transform: translateY(-8px);
    box-shadow: 0 3rem 5rem 1rem rgba(135, 99, 99, 0.4); }
  .header__form button:active {
    transform: translateY(-1px);
    box-shadow: 0 2rem 2rem 1rem rgba(135, 99, 99, 0.1); }
  .header__form button::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out; }
  .header__form button:hover::after {
    transform: scaleX(1.3) scaleY(1.6);
    background-color: white;
    color: #3d3d3d;
    opacity: 0; }

.review__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5fr 30px 3fr 1fr;
  row-gap: 1rem; }

.review__box:first-child {
  background-image: url("../src/john.jpg");
  background-position: center;
  background-size: cover;
  width: 350px;
  max-height: 250px;
  border-radius: 10px; }
  @media (max-width: 75em) {
    .review__box:first-child {
      width: 90%; } }

.review__box:nth-child(2) {
  background-image: url("../src/lucy.jpg");
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 250px;
  border-radius: 10px; }
  @media (max-width: 75em) {
    .review__box:nth-child(2) {
      width: 90%; } }

.review__box:nth-child(3) {
  background-image: url("../src/kyle.jpg");
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 250px;
  border-radius: 10px; }
  @media (max-width: 75em) {
    .review__box:nth-child(3) {
      width: 90%; } }

.review__box:nth-child(4) h5,
.review__box:nth-child(5) h5,
.review__box:nth-child(6) h5 {
  font-size: 1.2rem;
  font-weight: 600; }
  @media (max-width: 75em) {
    .review__box:nth-child(4) h5,
    .review__box:nth-child(5) h5,
    .review__box:nth-child(6) h5 {
      font-size: 1rem; } }

.review__box:nth-child(7) p,
.review__box:nth-child(8) p,
.review__box:nth-child(9) p {
  font-size: 1rem;
  width: 90%;
  line-height: 1.4rem; }
  @media (max-width: 75em) {
    .review__box:nth-child(7) p,
    .review__box:nth-child(8) p,
    .review__box:nth-child(9) p {
      font-size: 0.8rem; } }

.review__box:nth-child(10) i,
.review__box:nth-child(11) i,
.review__box:last-child i {
  color: #ed4c67;
  margin-right: 0.3rem;
  font-size: 1.4rem;
  margin-bottom: 1rem; }
  @media (max-width: 75em) {
    .review__box:nth-child(10) i,
    .review__box:nth-child(11) i,
    .review__box:last-child i {
      font-size: 1.2rem; } }

.review__box:nth-child(10) span,
.review__box:nth-child(11) span,
.review__box:last-child span {
  font-size: 1.1rem;
  font-weight: 600;
  position: relative; }
  @media (max-width: 75em) {
    .review__box:nth-child(10) span,
    .review__box:nth-child(11) span,
    .review__box:last-child span {
      font-size: 0.8rem; } }
  .review__box:nth-child(10) span::after,
  .review__box:nth-child(11) span::after,
  .review__box:last-child span::after {
    display: inline-block;
    content: "";
    width: 0%;
    height: 20%;
    z-index: -10;
    position: absolute;
    bottom: -5px;
    left: 0;
    background-size: 20%;
    transition: all 0.2s ease-in; }
  .review__box:nth-child(10) span:hover::after,
  .review__box:nth-child(11) span:hover::after,
  .review__box:last-child span:hover::after {
    width: 100%;
    background-image: linear-gradient(to right bottom, #ed4c67, #b53471); }
