// @import "../abstracts/variables";
.entire__container {
  padding: 1rem;
  @include respond(tab-land) {
    padding: 0;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  //This defines what one rem it is...
  font-size: 62.5%; //1rem is 10px;
  line-height: 1.2;
  color: $font-color-grey;
  background-color: $color-grey-light;

  @include respond(tab-land) {
    font-size: 56.25%; //1rem == 9px
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem == 8px
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}
main {
  padding-top: 10rem;
  margin-top: -20vh;
}
